@charset "utf-8";
/*CSS Document*/
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 '微软雅黑', tahoma, arial, 'Hiragino Sans GB', '宋体', sans-serif;
}

li {
    list-style: none;
}

input, select, textarea {
    outline: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
    color: #656565;
}

/**清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*设置超过的隐藏*/
.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

/*隐藏和显示*/
.hide {
    display: none;
}
.disabled {
    display: none;
}

.show {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}











